## 경로 확인
---

In [1]:
!pwd

/home/delabgpu/Tae_StudyCode

In [2]:
%cd TransformersDataAugmentation/src/utils/datasets/L2

/home/delabgpu/Tae_StudyCode/TransformersDataAugmentation/src/utils/datasets/L2

## Augmentation 결과 불러오기
- exp_{i}_10 에 저장된 각각의 결과를 불러옴
---

In [3]:
import pandas as pd

In [4]:
result = pd.DataFrame(index=range(0,0), columns=['Description', 'data'])

for j in range(15):    
    %cd exp_{j}_10/cmodbertp
    raw_dataset = pd.read_csv("cmodbertp_aug.tsv", delimiter='\t', names=['Description', 'data'], header=None)
    result = pd.concat([result,raw_dataset])
    %cd ../../
    print("#########  [ ", j, "번째 완료 ]  ######")

/home/delabgpu/Tae_StudyCode/TransformersDataAugmentation/src/utils/datasets/L2/exp_0_10/cmodbertp
/home/delabgpu/Tae_StudyCode/TransformersDataAugmentation/src/utils/datasets/L2
#########  [  0 번째 완료 ]  ######
/home/delabgpu/Tae_StudyCode/TransformersDataAugmentation/src/utils/datasets/L2/exp_1_10/cmodbertp
/home/delabgpu/Tae_StudyCode/TransformersDataAugmentation/src/utils/datasets/L2
#########  [  1 번째 완료 ]  ######
/home/delabgpu/Tae_StudyCode/TransformersDataAugmentation/src/utils/datasets/L2/exp_2_10/cmodbertp
/home/delabgpu/Tae_StudyCode/TransformersDataAugmentation/src/utils/datasets/L2
#########  [  2 번째 완료 ]  ######
/home/delabgpu/Tae_StudyCode/TransformersDataAugmentation/src/utils/datasets/L2/exp_3_10/cmodbertp
/home/delabgpu/Tae_StudyCode/TransformersDataAugmentation/src/utils/datasets/L2
#########  [  3 번째 완료 ]  ######
/home/delabgpu/Tae_StudyCode/TransformersDataAugmentation/src/utils/datasets/L2/exp_4_10/cmodbertp
/home/delabgpu/Tae_StudyCode/TransformersDataAugmentation/src/utils/datasets/L2
#########  [  4 번째 완료 ]  ######
/home/delabgpu/Tae_StudyCode/TransformersDataAugmentation/src/utils/datasets/L2/exp_5_10/cmodbertp
/home/delabgpu/Tae_StudyCode/TransformersDataAugmentation/src/utils/datasets/L2
#########  [  5 번째 완료 ]  ######
/home/delabgpu/Tae_StudyCode/TransformersDataAugmentation/src/utils/datasets/L2/exp_6_10/cmodbertp
/home/delabgpu/Tae_StudyCode/TransformersDataAugmentation/src/utils/datasets/L2
#########  [  6 번째 완료 ]  ######
/home/delabgpu/Tae_StudyCode/TransformersDataAugmentation/src/utils/datasets/L2/exp_7_10/cmodbertp
/home/delabgpu/Tae_StudyCode/TransformersDataAugmentation/src/utils/datasets/L2
#########  [  7 번째 완료 ]  ######
/home/delabgpu/Tae_StudyCode/TransformersDataAugmentation/src/utils/datasets/L2/exp_8_10/cmodbertp
/home/delabgpu/Tae_StudyCode/TransformersDataAugmentation/src/utils/datasets/L2
#########  [  8 번째 완료 ]  ######
/home/delabgpu/Tae_StudyCode/TransformersDataAugmentation/src/utils/datasets/L2/exp_9_10/cmodbertp
/home/delabgpu/Tae_StudyCode/TransformersDataAugmentation/src/utils/datasets/L2
#########  [  9 번째 완료 ]  ######
/home/delabgpu/Tae_StudyCode/TransformersDataAugmentation/src/utils/datasets/L2/exp_10_10/cmodbertp
/home/delabgpu/Tae_StudyCode/TransformersDataAugmentation/src/utils/datasets/L2
#########  [  10 번째 완료 ]  ######
/home/delabgpu/Tae_StudyCode/TransformersDataAugmentation/src/utils/datasets/L2/exp_11_10/cmodbertp
/home/delabgpu/Tae_StudyCode/TransformersDataAugmentation/src/utils/datasets/L2
#########  [  11 번째 완료 ]  ######
/home/delabgpu/Tae_StudyCode/TransformersDataAugmentation/src/utils/datasets/L2/exp_12_10/cmodbertp
/home/delabgpu/Tae_StudyCode/TransformersDataAugmentation/src/utils/datasets/L2
#########  [  12 번째 완료 ]  ######
/home/delabgpu/Tae_StudyCode/TransformersDataAugmentation/src/utils/datasets/L2/exp_13_10/cmodbertp
/home/delabgpu/Tae_StudyCode/TransformersDataAugmentation/src/utils/datasets/L2
#########  [  13 번째 완료 ]  ######
/home/delabgpu/Tae_StudyCode/TransformersDataAugmentation/src/utils/datasets/L2/exp_14_10/cmodbertp
/home/delabgpu/Tae_StudyCode/TransformersDataAugmentation/src/utils/datasets/L2
#########  [  14 번째 완료 ]  ######

In [5]:
''' 가져온 결과 확인 '''
len(result)

result

      Description                                               data
0     Description  the park opened in and there is still a draw f...
1     Description  the first loopless roller coaster the first lo...
2     Description  the origins of the carousel the first carousel...
3     Description  on the basis of the research findings , studen...
4     Description  the main amusement park the oldest operating a...
...           ...                                                ...
3517  Description        i ' m looking forward to seeing you dance .
3518  Description  speaking strategy expressing interest or surpr...
3519  Description  romeo juliet at the school theater spelling be...
3520  Description      i ' m going to dance at the school festival .
3521  Description                             wow , that ' s great !

[52830 rows x 2 columns]

## .tsv 파일로 저장
---

In [29]:
result.to_csv('L2_Aug_one-fifth_result.tsv', index=False, header=None, sep="\t")

## 전체 데이터셋을 나눠서 증강한 경우 Aggregation하여 .tsv로 저장
---

In [7]:
!pwd

/home/delabgpu/Tae_StudyCode/TransformersDataAugmentation/src/utils/datasets/L2

In [8]:

total_result = pd.DataFrame(index=range(0,0), columns=['Description', 'data'])


total_raw_dataset = pd.read_csv("L2_Aug_one-fifth_result.tsv", delimiter='\t', names=['Description', 'data'], header=None)
total_result = pd.concat([total_result,total_raw_dataset])

total_raw_dataset = pd.read_csv("L2_cmobertp_Aug_5-1 to 5-2_result.tsv", delimiter='\t', names=['Description', 'data'], header=None)
total_result = pd.concat([total_result,total_raw_dataset])

total_raw_dataset = pd.read_csv("L2_cmobertp_Aug_5-2 to 5-3_result.tsv", delimiter='\t', names=['Description', 'data'], header=None)
total_result = pd.concat([total_result,total_raw_dataset])

total_raw_dataset = pd.read_csv("L2_cmobertp_Aug_5-3 to 5-4_result.tsv", delimiter='\t', names=['Description', 'data'], header=None)
total_result = pd.concat([total_result,total_raw_dataset])

total_raw_dataset = pd.read_csv("L2_cmobertp_Aug_5-4 to 5-5_result.tsv", delimiter='\t', names=['Description', 'data'], header=None)
total_result = pd.concat([total_result,total_raw_dataset])

total_result

       Description                                               data
0      Description       we encourage you to take advantage of this .
1      Description  the program has always been very popular among...
2      Description  registration opens from there for three days o...
3      Description  once you are here , we will prepare you into a...
4      Description  we are sure that they will be satisfied with o...
...            ...                                                ...
52825  Description        i ' m looking forward to seeing you dance .
52826  Description  speaking strategy expressing interest or surpr...
52827  Description  romeo juliet at the school theater spelling be...
52828  Description      i ' m going to dance at the school festival .
52829  Description                             wow , that ' s great !

[264150 rows x 2 columns]

In [9]:
''' 최종 증강 결과물 저장 '''
total_result.to_csv('BERT_Aug_Total_result.tsv', index=False, header=None, sep="\t")